# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/urfwabs93fwz/public_html/pyapp"
PassengerBaseURI "/pyapp"
PassengerPython "/home/urfwabs93fwz/virtualenv/public_html/pyapp/3.11/bin/python"
PassengerAppLogFile "/home/urfwabs93fwz/logs/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]