<!DOCTYPE html>
<html lang="en">
    {% include 'bootstrap.html' %}
    {% include 'navbar.html' %}

    <div class="container">
        <h5 class="mt-4">Update Member Details</h5>

        <form method="POST" action="{{ url_for('update_member.update_member') }}" class="p-3 border rounded" enctype="multipart/form-data">
          <div class="row mb-4">
            <!-- Editable Mem ID to Search -->
            <div class="col-md-2">
                <label for="mem_id" class="form-label">Mem ID to Update</label>
                {% if session['user']['MEMBER_TYPE'] == 'ADMIN' %}
                <input type="text" class="form-control" id="mem_id" name="search_id" placeholder="Enter Mem ID" value="{{ search_id }}">
                {%else%}
                <input type="text" class="form-control" id="mem_id" name="search_id" placeholder="Enter Mem ID" value="{{ search_id }}" readonly>
                {%endif%}
            </div>

            <!-- Search Button -->
            <div class="col-md-2 d-flex align-items-end">
                <button type="submit" name="action" value="search" class="btn btn-primary">Search</button>
            </div>

            <div class="col-md-2">
                <label>Member ID</label>
                <input type="text" class="form-control" value="{{ member.MEMBER_ID }}" readonly>
            </div>

            <div class="col-md-3">
                <label>Phone Number</label>
                {% if session['access']['Admin'] == 'Y' %} <input type="text" class="form-control" value="{{ member.Phone_Num }}" >
                {%else%} <input type="text" class="form-control" value="{{ member.Phone_Num }}" readonly>  {%endif%}
            </div>
            <div class="col-md-2">
                    <label>Status</label>
                    {% if session['access']['Admin'] == 'Y' %} <input type="text" class="form-control" value="{{ member.Status }}">
                    {%else%} <input type="text" class="form-control" value="{{ member.Status }}" readonly> {%endif%}
            </div>
            <div class="col-md-1">
                    <label>Duplcte</label>
                    <input type="text" class="form-control" value="{{ member.DupIndicator }}" readonly>
            </div>

        </div>   
         <input type="hidden" name="MEMBER_ID" value="{{ member.MEMBER_ID }}">  
          <div class="form-group row">
                 <div class="col-md-4">
                    <label>First_name</label>
                    <input type="text" class="form-control" name="Name" value="{{ member.Name }}">

                </div>
                <div class="col-md-3">
                    <label>Last_name</label>
                    <input type="text" class="form-control" value="{{ member.Surname }}" readonly>
                </div>
                
                <div class="col-md-1">
                    <label>Gender</label>
                    <input type="text" class="form-control" name="Gender" value="{{ member.Gender }}" readonly>
                </div>
                <div class="col-md-2">
                    <label>BirthYear</label>
                    <input type="text" class="form-control" name="YOB" value="{{ member.Year_Of_Birth }}">
                </div>

                <div class="col-md-2">
                    <label>Member-Type(T-100)</label>
                   <input type="text" class="form-control" name="Member_Type" value="{{ member.MEMBER_TYPE }}" placeholder="MEMBER/ADMIN" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Email ID</label>
                    <input type="email" name="Email_ID" class="form-control" value="{{ member.Email_ID }}">
                </div>
                <div class="col-md-2">
                    <label>Father_ID</label>
                    <input type="text" class="form-control" name="Father_ID" value="{{ member.Father_ID }}">
                </div>
                <div class="col-md-2">
                    <label>Mother_ID</label>
                    <input type="text" class="form-control" name="Mother_ID" value="{{ member.Mother_ID }}">
                </div>
                <div class="col-md-2">
                    <label>Spouse_ID</label>
                   <input type="text" class="form-control" name="Spouse_ID" value="{{ member.Spouse_ID }}">
                </div>
                <div class="col-md-2">
                    <label>Referrer ID</label>
                    <input type="text" class="form-control" value="{{ member.Referrer_ID }}" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Nakshatram</label>
                    <select name="Nakshatra" class="form-control">
                        {% for nakshatra in nakshatras %}
                            <option value="{{ nakshatra.NID }}" {% if nakshatra.NID == member.Nakshatra|int %}selected{% endif %}>
                                {{ nakshatra.All_S_English }} - {{ nakshatra.Malayalam_S_English }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="col-md-2">
                    <label>Pada</label>
                   <input type="text" class="form-control" name="Pada" value="{{ member.Pada|join if member.Pada else '' }}" placeholder="Enter 1 to 4" pattern="[1-4]" title="Only 1 to 4 is allowed" maxlength="1">

                </div>
                <div class="col-md-2">
                    <label>Smartam</label>
                   <input type="text" class="form-control" name="Smarta_Purohit" value="{{ privileges.Smarta_Purohit }}" placeholder="Enter Y or N" pattern="[YN]" title="Only Y or N is allowed" maxlength="1">

                   </div>

                  <div class="col-md-2">
                   <label>Vedam</label>
                    <input type="text" class="form-control" name="Veda_Pandit" value="{{ privileges.Veda_Pandit }}" placeholder="Enter 0 to 3" pattern="[0-3]" title="Only 0 to 3 is allowed" maxlength="1">
                   </div>
                   <div class="col-md-2">
                    <label for="image">Upload Img</label>
                    <input type="file" name="image" class="form-control" accept="image/*" id="image">
                </div>

                   
                </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Gotram</label>
                    <select name="GotramID" class="form-control">
                        {% for gotra in gotras %}
                            <option value="{{ gotra.PG_ID }}" {% if gotra.PG_ID == member.Gotram_ID %}selected{% endif %}>
                                {{ gotra.Gotra }} - {{ gotra.Risheya }} - {{ gotra.Pravara }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Notes</label>
                    <textarea class="form-control" name="Notes">{{ member.Notes }}</textarea>
                </div>
                <div class="col-md-2">
                    {% if image_data %}
                        <img src="data:image/jpeg;base64,{{ image_data }}" class="img-thumbnail" style="max-width: 300px;">
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                        <div class="col-md-12" style="position: relative;">
                            <label class="label-control"><b>Search Address</b></label>
                            <input type="text" id="address" name="address" class="form-control" />
                            <div id="suggestions"></div>
                        </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label>Address Line 1</label>
                    <input type="text" name="Address_Line1" id="address_line1" class="form-control" value="{{ member.Address1 }}" readonly>
                </div>
                <div class="col-sm-4">
                    <label>Address Line 2</label>
                    <input type="text" name="Address_Line2" id="address_line2" class="form-control" value="{{ member.Address2 }}" readonly>
                </div>
                <div class="col-sm-4">
                    <label>Location</label>
                    <input type="text" name="Location" id="location" class="form-control" value="{{ member.Location }}" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label>City</label>
                    <input type="text" name="City" id="city" class="form-control" value="{{ member.City }}" readonly>
                </div>
                <div class="col-sm-3">
                    <label>State</label>
                    <input type="text" name="State" id="state" class="form-control" value="{{ member.State }}" readonly>
                </div>
                <div class="col-sm-3">
                    <label>ZIP / Postal Code</label>
                    <input type="text" name="Zip_Code" id="pincode" class="form-control" value="{{ member.PIN_or_ZIP }}" readonly>
                </div>
                <div class="col-sm-3">
                    <label>Country</label>
                    <input type="text" name="Country" id="country" class="form-control" value="{{ member.Country }}" readonly>
                </div>
            </div>

            <button type="submit" name="action" value="update" class="btn btn-primary mt-3">Update</button>
        </form>

    </div>
    <script src="{{ url_for('static', filename='js/address_af.js') }}"></script>
</body>
</html>
