<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Self Service - {{session['entity_id']}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
          </li>
        </ul>
        
        {% if session['access']['Admin'] == 'Y' %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Fns </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <li><a class="dropdown-item" href="{{ url_for('events.events') }}">Events</a></li>
                   <li><a class="dropdown-item" href="{{ url_for('access.access') }}">Access Search</a></li>
                   <li><a class="dropdown-item" href="{{ url_for('sibcollection_report.upload_excel') }}">SIB Collection Rpt Upload</a></li>
                   <li><a class="dropdown-item" href="{{ url_for('payee.view_payees') }}">Payee</a></li>
                   <li><a class="dropdown-item" href="{{ url_for('payee_acc.payee_accounts') }}">Payee Accounts</a></li>
                   <li><a class="dropdown-item" href="{{ url_for('conf_payment.upload_payment_confirmation') }}">Payment Confirmation Upload</a></li>

                </ul>
            </li>
        </ul>
        {% endif %}

        {% if session['user']['MEMBER_ID'] == 1636 %}        
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PreRelease </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ url_for('expenses.manage_expenses') }}">Expense</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('contribution.manage_contributions') }}">Contribution</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('qrcode.generate_qr') }}">QR Generator</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('images.view_image') }}">View Image</a></li>


                </ul>
            </li>
        </ul>
        {% endif %}
        
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Update Fns </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('requests.view_requests') }}">User Requests</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('van.generate_van') }}">VAN Generator</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('registration.register') }}">Registration</a></li>
                    {% if  (session['user']['MEMBER_TYPE'] == 'ADMIN') or (session['access']['Event'] == 'Y')%}
                        <li><a class="dropdown-item" href="{{ url_for('nwmember.memberlist') }}">New Member</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('vmt.view_vmt_details') }}">VMT Details</a></li>
                    {% endif %}
                    {% if session['access']['Event'] == 'Y' %}<li><a class="dropdown-item" href="{{ url_for('attendence.attend') }}">Attendence</a></li>{% endif %}
                </ul>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports & Views </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('mbrsearch.member_search') }}">Member Search</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('member_reports.member_reports_home') }}">Member Reports</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('event_reports.event_reports_home') }}">Event Reports</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('vamsatree.family_tree_page') }}">Vamsavruksham</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('master_data.master_data') }}">Master Data</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('multiple_data.multiple_data') }}">Multi Report</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('monthly_report.monthly_report') }}">Monthly Report</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Podili Information </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="https://youtu.be/-SNk4lOPHVE?si=tw2KpW_1Drt8sCJE" target="_blank">Podili School Video</a></li>
                    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1Fq7eCka7WDLK1Ps9C1zK5eKDfGoPs2W-" target="_blank">Podili Brochure</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('podili_assignment.show_podili_assignment') }}">Assignment</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('podili_admission.podili_admission_list') }}">Admissions</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NBV </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="https://youtu.be/avcgKU63ZX4" target="_blank">NBV8 Information</a></li>
                    <li><a class="dropdown-item" href="https://youtu.be/iyUvlmqVEQM" target="_blank">What is Bikshavandanam</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('multiple_data.multiple_data') }}">MultiMember Verification</a></li>
                    {% if  session['user']['MEMBER_TYPE'] == 'ADMIN' %}<li><a class="dropdown-item" href="{{ url_for('access.access') }}">MemberAccess</a>
                    </li>{% endif %}
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data Issues </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('issues.view_issues') }}">Mstr Data Issues</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('referer_issues.referer_issues') }}">Referer Data Quality Issues</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('dupidentifier.dupidentifier') }}">Duplicate Member Identifier</a></li>
                </ul>
            </li>
        </ul>
 </div>
 
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
          <li><a class="nav-link" href="{{ url_for('mbrsearch.member_search') }}">Member Search</a></li>
           
      </ul>
  </div>
     
     
  <div>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">{{ session['user']['Alias'] }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{{ url_for('update_member.update_member') }}">Update Member</a></li>
                <li><a class="dropdown-item" href="{{ url_for('password.password_modify') }}">Change Password</a></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>  
              </ul>
          </li>
      </ul>
  </div>
</nav>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container mt-3">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

