<!DOCTYPE html>
<html lang="en">
    {% include 'bootstrap.html' %}
    {% include 'navbar.html' %}

<div class="container mt-5">
    <form method="post" class="mb-3 p-3 border rounded bg-light">
        <h5>Change Password for Self</h5>
        <div class="form-group">
            <label for="old_password">Old Password:</label>
            <input type="password" class="form-control" name="old_password" required>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="new_password">New Password:</label>
                <input type="password" class="form-control" name="new_password" required>
            </div>
            <div class="col-md-6">
                <label for="re_password">Re-enter New Password:</label>
                <input type="password" class="form-control" name="re_password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    
    {% if session['user']['MEMBER_TYPE'] == 'ADMIN' %}
    <form action="{{ url_for('password.password_reset') }}" method="POST" class="p-3 border rounded bg-light">
        <h5>Reset Password for other Members</h5>        
        <div class="form-group">
            <label for="memberid">Member ID:</label>
            <input type="number" class="form-control" name="memberid" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    {% endif %} 
    
</div>
</body>
</html>
