<!DOCTYPE html>
<html lang="en">
  {% include 'bootstrap.html' %}
  {% include 'navbar.html' %}

    <h3>Generate UPI QR Code</h3>

    <form method="post">
        <div class="form-group row">
            <div class="col-md-3 ml-2">
                <label class = "label-control">UPI ID:</label><br>
                <input type="text" name="UPIid" class = "form-control" required>
            </div>
            <div class="col-md-3">
                <label class = "label-control">Member ID:</label><br>
                <input type="text" name="Member" class = "form-control" required>
            </div>
            <div class="col-md-3">
                <label class = "label-control">Contribution Amount:</label><br>
                <input type="text" name="Contri" class = "form-control" required>
            </div>
        </div>
        <input type="submit" name="register" class="btn btn-primary" value="Generate QR Code">
    </form>

    {% if qr_code %}
        <h5>Scan this QR Code:</h5>
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
    {% endif %}
</body>
</html>